*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background-color: #f2f2f2;
}

header{
    width: 100%;
    padding: 20px;
    background-color: white;
}

h1{
    display: inline-block;
}

main{
    margin: 50px 100px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: white;
}

.main_header p{
    display: inline-block;
    font-size: 0.9rem;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px 10px;
}

p#add_task{
    background-color: #47adf1;
    color: white;
}

p#add_section{
    color: lightgray;
}


.section{
    padding: 25px 50px;
}

ul{
    list-style-type: none;
}

li{
    padding: 10px;
}

span.check{
    color: green;
    border-radius: 50%;
    border: 1px solid green;
}

span.cross{
    color: red;
    border-radius: 50%;
    border: 1px solid red;
}

span.editional{
    background-color: #47adf1;
    color: white;
    font-size: 0.8rem;  
    border-radius: 10px;
    padding: 5px 10px;
}

span.q1_goals{
    background-color: #9c72e4;
    color: white;
    font-size: 0.8rem;  
    border-radius: 10px;
    padding: 5px 10px;
}

span.recruiting{
    background-color: #64c0a9;
    color: white;
    font-size: 0.8rem;  
    border-radius: 10px;
    padding: 5px 10px;
}

span.mobile{
    background-color: #f29e33;
    color: white;
    font-size: 0.8rem;  
    border-radius: 10px;
    padding: 5px 10px;
}